.tweet-box {
    background: white;
    width: 500px;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 2px;
    border: 1px solid #d0d0d0;
    padding: 5px;
}
.tweet-box:hover {
    background: #a5a5a5;
}
.tweet-stamps {
    text-align: right;
}
.welcome {
    text-align: center;
}
.post-div {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.post-div .button {
    width: 100%;
    margin-top: 2px;
}
.post-input {
    width: 100%;
    height: 60px;
    font-size: 20px;
}
.tweet-text {
    color: black;
    font-size: 16px;
    font-weight: 200;
}